.rd-navbar-classic.rd-navbar-static .rd-navbar-aside-outer,
.rd-navbar-classic.rd-navbar-static .rd-navbar-main-outer {
	padding-left: 15px;
	padding-right: 15px;
    background-color: rgba(21, 21, 21, 0.5) !important;
}